 <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp" id="mh-header">
            <div class="overlay" (click)="closeMenu()"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ml-auto">
                                <li class="nav-item" [class.active]="currentUrl === '/home'">
                                    <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/home')">Home</a>
                                </li>
                                <li class="nav-item" [class.active]="currentUrl === '/about'">
                                    <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/about')">About</a>
                                </li>
                                <li class="nav-item" [class.active]="currentUrl === '/skills'">
                                    <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/skills')">Skills</a>
                                </li>
                                <li class="nav-item" [class.active]="currentUrl === '/experience'">
                                   <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/experience')">Experiences</a>
                                </li>
                                <li class="nav-item" [class.active]="currentUrl === '/portfolio'">
                                    <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/portfolio')">Portfolio</a>
                                </li>
                                <li class="nav-item" [class.active]="currentUrl === '/education'">
                                    <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/education')">Education</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
